<% if like = current_user.likes.find_by_liked_pics_id(object.id) %>
  <%= form_for like, :html => { :method => :delete }, :remote => true do |f| %>
    <%= f.submit "unlike", :type => :image, :src => "/assets/r.png", class: "heart" %>
  <% end %>
<% else %>
  <%= form_for (current_user.likes.build(liked_pics_id: object.id)), :remote => true do |f| %>
    <div><%= f.hidden_field :liked_pics_id %></div>
    <%= f.submit "like", :type => :image, :src => "/assets/w5.png", class: "heart" %>
  <% end %>
<% end %>
