<div class="row">
  <div class="col-md-4">
    <div class="image-circle">
      <%= image_tag current_user.avatar.url(:medium) %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="text-user">
      <p><%= current_user.email %></p>
      <p><%= current_user.email.split("@")[0] %></p>
      <%= pluralize current_user.posts.count, "Publication" %>
    </div>
  </div>
</div>
<br />
<br />
<div class="row">
  <% current_user.posts.each do |post| %>
    <div class="col-md-4">
      <div class="thumbnail">
        <%= image_tag post.image.url(:medium) %>
      </div>
    </div>
  <% end %>
</div>
