<div class="container">
  <div id="user-main-page">
    <div class="row">
      <div class="col-md-3">
        <div id="image-circle">
          <%= image_tag @user.avatar.url(:medium) %>
        </div>
      </div>
      <div class="col-md-9">
        <div id="all-user-info">
          <div class="row">
            <div id="user-name">
              <%= @user.username %>
            </div>
            <div id="follow-form-users">
              <% unless current_user.id == @user.id %>
                <% if current_user.following?(@user) %>
                  <%= render 'unfollow' %>
                <% else %>
                  <%= render 'follow' %>
                <% end %>
              <% else %>
                <%= link_to "Edit profile", edit_user_registration_path, :id => "edit-button", class: "btn btn-success" %>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div id="user-email">
              <%= @user.email %>
            </div>
          </div>
          <div class="row">
            <div id="user-stats">
              <ul>
                <li><strong><%= @user.posts.count.to_s %></strong> Publications</li>
                <li><strong id="followers"><%= @user.followers.count.to_s %></strong> Followers</li>
                <li><strong><%= @user.followed_users.count.to_s %></strong> Following</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <% @user.posts.each do |post| %>
        <div class="col-md-4">
          <div id="indi-pic">
            <div class="thumbnail">
              <%= image_tag post.image.url(:medium) %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

