<div class="row">
  <div class="col-md-4">
    <div class="image-circle">
      <%= image_tag @user.avatar.url(:medium) %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="text-user">
      <p><%= @user.email %></p>
      <p><%= @user.email.split("@")[0] %></p>
      <%= pluralize @user.posts.count, "Publication" %>
    </div>
  </div>
</div>
<br />
<br />
<div class="row">
  <% @user.posts.each do |post| %>
    <div class="col-md-4">
      <div class="thumbnail">
        <%= link_to (image_tag post.image.url(:medium), class: 'image'), post %>
      </div>
    </div>
  <% end %>
</div>
