<% @posts.each do |post| %>
  <div class="thumbnail">
    <div class="row">
      <div class="col-md-1">
        <div class="image-circle2">
          <%= image_tag User.find(post.user_id).avatar.url(:medium) %> 
        </div>
      </div>
      <div class="col-md-1" id="name-on-post">
        <%= link_to User.find(post.user_id).email.split("@")[0], User.find(post.user_id) %>
      </div>
    </div>
    <%= image_tag post.image.url(:medium) %>
    <div class="likes_count" id="<%= "likes" << post.id.to_s %>"><%= pluralize(post.who_liked.count, "like") %></div>
    <div id="<%= post.id %>">
      <%= render 'likes/like_buttom', object: post %></li>
    </div>
    <%= render 'indidual_post', :object => post %>
    <%= render 'comment_box', :object => post %>
  </div>
<% end %>


