<nav class="navbar navbar-default" id="pnavbar">
<div class="container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" <%= link_to "HyperGram", root_path %></a>
  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <%= form_tag(users_path, :method => "get", class: "navbar-form") do %>
        <div class="form-group">
          <%= text_field_tag :search, params[:search], placeholder: "search people...", class: "form-control", id: "search-form" %>
        </div>
      <% end %> 
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li><a <%= link_to current_user.email.split("@")[0], current_user %></a></li>
      <% else %>
        <li><a <%= link_to "Login", new_user_session_path %></a></li>
        <li><a <%= link_to "Register", new_user_registration_path %></a></li>
      <% end %>
    </ul>
  </div>
</div>
</nav>
